<p class="h1">Registrar</p>

<input type="text" name="Nombre" placeholder="Nombre:" ng-model="Nombre" class="Nombreusuario"><br>
<input type="text" name="Apellido" placeholder="Apellido:" ng-model="Apellido" class="Apellidousuario"><br>
<input type="text" name="Telefono" placeholder="Telefono:" ng-model="Telefono" class="Telefonousuario"><br>
<input type="text" name="Email" placeholder="Email:" ng-model="Email" class="Emailusuario"><br>
<input type="text" name="Id" placeholder="Identificación:" ng-model="idCliente" class="Identificacionusuario"><br>
<input type="password" name="Password" placeholder="Password:" ng-model="Password" class="Passwordusuario"><br>

<input type="button" value="Agregar" ng-click="agregarUsuario()"  class="Agregarusuario">