<link rel="stylesheet" href="assets/css/main.css" />
    <div class="divRegistro">
        <header class="major">
            <h2>Registrarse</h2>
	</header>		
        
        <!-- Main -->
        <input type="text" name="Nombre" class="input" placeholder="Nombre:" ng-model="Nombre" ><br>
        <input type="text" name="Apellido" class="input" placeholder="Apellido:" ng-model="Apellido" ><br>
        <input type="text" name="Telefono" class="input" placeholder="Telefono:" ng-model="Telefono" ><br>
        <input type="text" name="Email" class="input" placeholder="Email:" ng-model="Email" ><br>
        <input type="text" name="Id" class="input" placeholder="Identificación:" ng-model="idCliente" ><br>
        <input type="password" name="Password" class="Passwordusuario" placeholder="Password:" ng-model="Password" ><br>
        <input type="button" align="center" value="Agregar" ng-click="agregarUsuario()" class="button special">
    </div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	
