<link rel="stylesheet" href="assets/css/main.css" />
    <div class="divRegistro">
        <header class="major">
            <h2>Registrar Establecimiento</h2>
	</header>		
        
        <!-- Main -->
        <input type="text" name="NitEst" class="input" placeholder="NIT:" ng-model="nit" ><br>
        <input type="text" name="NmbreEst" class="input" placeholder="Nombre:" ng-model="Nombre" ><br>
        <input type="text" name="Telefono" class="input" placeholder="Telefono:" ng-model="Telefono" ><br>
        <input type="text" name="Email" class="input" placeholder="Email:" ng-model="Email" ><br>
        <input type="text" name="Direccion" class="input" placeholder="Dirección:" ng-model="Direccion" ><br>
        <input type="button" align="center" value="Agregar" ng-click="agregarEstablecimiento()" class="button special">
    </div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	
