    <link rel="stylesheet" href="assets/css/main.css" />
  
    
        <div class="divRegistro" ng-controller="ControladorLogin">
                <header class="major">
                    <h2>LogIn</h2>
                </header>		
               <!-- <label for="username"  class="NU">NombreUsuario:</label> -->
                <input type="text"  placeholder="NombreUsuario:" class="LoginUsuario" id="username" name="username"  ng-model="credentials.username"/>
                <input type="password" placeholder="PasswordUsuario:" class="PasswordUsuario" id="password" name="password" ng-model="credentials.password"/>
                <button type="submit" class="button special" ng-click="login()">Submit</button>
        </div>
        <div  ng-show="authenticated">
            <h1 class="titulo1">Ya esta autenticado</h1>
        </div>
          


                        <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>