 <link rel="stylesheet" href="assets/css/main.css" />

<h1>Reservar</h1>

 <table width="10%" class="tabla1">
                    <tr>
                        <td>IdCancha</td>
                        <td>estadoCancha</td>
                        <td>Reserva-ID</td>
                        <td>NitEstablecimiento</td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="x in canchas">
                        <td>{{ x.idcancha }}</td>
                        <td>{{ x.estadocancha }}</td>
                        <td>{{ x.reserva_id }}</td>
                        <td>{{ x.NitEstablecimiento }}</td>
                   
                    </tr>
                </table>


<input type="text" name="FechaReserva"  placeholder="FechaReserva:" ng-model="fechaReserva" ><br>
<input type="text" name="Tiempo"  placeholder="Tiempo:" ng-model="tiempo" ><br>
<input type="text" name="UsuarioId"  placeholder="UsuarioId:" ng-model="usuarioId" ><br>


<input type="button" value="Reservar" ng-click="agregarReserva()">


