 <link rel="stylesheet" href="assets/css/main.css" />

<h1>Reservar</h1>

 <table width="10%" class="tabla1">
                    <tr>
                      
                        <td>Estado de la Cancha</td>
                        <td>Reserva-Identificación</td>
                        <td>Identificación-Cancha</td>
                        <td>Nit del Establecimiento</td>
                        <td></td>
                        
                    </tr>
                    <tr ng-repeat="x in canchas">
                       
                        <td>{{ x.estadocancha }}</td>
                        <td>{{ x.reservaid }}</td>
                        <td>{{ x.id.idcancha }}</td>
                        <td>{{ x.id.nitEstablecimiento }}</td>
                       
                   
                    </tr>
                </table>


<input type="text" name="FechaReserva"  placeholder="FechaReserva:" ng-model="fechaReserva" ><br>
<input type="text" name="Tiempo"  placeholder="Tiempo:" ng-model="tiempo" ><br>
<input type="text" name="UsuarioId"  placeholder="UsuarioId:" ng-model="usuarioId" ><br>


<input type="button" value="Reservar" ng-click="agregarReserva()">


