* {
    margin:0px;
    padding:0px;
}

#header{
    margin:auto;
    width:800px;
    font-family:Arial, Helvetica, sans-serif;
}

esLista ul, ol {
    list-style:none;
}

.esLista li a {
    background-color:#FFFFFF;
    color:#FF8000;
    padding:15px 30px;
    display:block;
}

.esLista > li {
    float:left;
}

.esLista li a:hover {
    background-color:#000;
}

.esLista li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.esLista li:hover > ul {
    display:block;
}

.esLista li ul li {
    position:relative;
}

input[id^="ubicacion"] + label {
display: block;
width: 200px;
margin: 0 auto;
padding: 5px 20px;
background: #e1a;
cursor: pointer;
}

input[id^="ubicacion"]:checked + label {
color: #333;
background: #ccc;
}